:root {
    --red: #db2035;
    --yellow: #fedf15;
    --white: #fdfbfb;
}

html {
    scroll-behavior: smooth;
    background-color: var(--white);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.title {
    text-align: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 1px;
    font-weight: 600;
}

.btn-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--red);
    padding: 8px 14px;
    border-radius: 10px;
    cursor: pointer;
}

.btn-top .fa-arrow-up {
    color: white;
    font-size: 18px;
}

/* Navbar */
.navbar {
    position: sticky;
    top: 0;
    display: flex;
    z-index: 2;
    background-color: white;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    align-items: center;
}

.navbar .logo {
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.navbar .navbar-collapse {
    width: 35%;
}

.navbar .navbar-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.navbar .navbar-nav .nav-item {
    list-style: none;
}

.navbar .navbar-nav .nav-item .nav-link {
    text-decoration: none;
    color: var(--red);
}

.navbar .navbar-nav .nav-item:hover .nav-link {
    text-decoration: underline;
    cursor: pointer;
}

/* Home */
.carousel {
    position: relative;
    width: 100%;
    height: 80vh;
    margin: 0 auto;
}

.carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: grab;
}

.carousel-track-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.carousel-track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
    outline: none;
}

.carousel-btn i {
    font-size: 42px;
    opacity: 0.8;
    color: white;
}

.carousel-btn:hover i {
    opacity: 1;
}

.carousel-btn-left {
    left: 20px;
}

.carousel-btn-right {
    right: 20px;
}

.carousel-nav {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.carousel-indicator {
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    outline: none;
    width: 15px;
    height: 15px;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-indicator.current-slide {
    background-color: rgba(0, 0, 0, 0.8);
}

.is-hidden {
    display: none;
}

/* History */
.history {
    position: relative;
    padding: 90px 9em;
}

.history h4 {
    text-align: justify;
    color: rgb(131, 131, 131);
    line-height: 1.6;
}

.history h4 span {
    padding-left: 3rem;
}
