:root {
    --red: #db2035;
    --yellow: #fedf15;
    --white: #f1f1f1;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* Navbar */
.navbar {
    position: sticky;
    top: 0;
    display: flex;
    z-index: 2;
    background-color: white;
    justify-content: space-between;
    padding: 0.5rem 3rem;
    align-items: center;
}

.navbar .logo img {
    width: 60px;
    height: 60px;
}

.navbar .navbar-collapse {
    width: 35%;
}

.navbar .navbar-nav {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.navbar .navbar-nav .nav-item {
    list-style: none;
}

.navbar .navbar-nav .nav-item .nav-link {
    text-decoration: none;
    color: var(--red);
}

.navbar .navbar-nav .nav-item:hover .nav-link {
    text-decoration: underline;
}

/* Home */
.home {
    height: 90vh;
}

.carousel {
    position: relative;
    width: 100%;
    height: 80vh;
    margin: 0 auto;
}

.carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    cursor: grab;
}

.carousel-track-container {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.carousel-track {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    height: 100%;
    transition: transform 250ms ease-in;
}

.carousel-slide {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: none;
    cursor: pointer;
    z-index: 1;
    outline: none;
}

.carousel-btn i {
    font-size: 42px;
    opacity: 0.8;
    color: white;
}

.carousel-btn:hover i {
    opacity: 1;
}

.carousel-btn-left {
    left: 12px;
}

.carousel-btn-right {
    right: 12px;
}

.carousel-nav {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    padding: 15px 0;
}

.carousel-indicator {
    background-color: rgba(0, 0, 0, 0.4);
    border: none;
    outline: none;
    width: 15px;
    height: 15px;
    margin: 0 10px;
    border-radius: 50%;
    cursor: pointer;
}

.carousel-indicator.current-slide {
    background-color: rgba(0, 0, 0, 0.8);
}

.is-hidden {
    display: none;
}

/* History */
.history {
    height: 100vh;
}

.history h4 span {
    padding-left: 3rem;
}

.title {
}
